@{
    ViewData["Title"] = "Page Not Found";
}

<p>The page you're looking for doesn't exist or has been moved.</p>
<a href="@Url.Action("Index", "Home")">Return to Home</a>

<img class="d-block mx-auto mb-4" src="/img/sockethead-logo.png" alt="" >
