
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/img/sockethead-logo.png" alt="" >
    <h1 class="display-5 fw-bold">Welcome to the Eike Consulting, LLC<br/>"Clean Architecture" Template!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            This bootstraps an ASP.NET Solution with an Administration Application and API Project with the "Clean Architecture" pattern.
        </p>
    </div>
</div>